.container {
    border: 2px solid black;
    height: 18rem;
    border-radius: 8px;
    border-left-color: var(--gray-600);
    border-right-color: var(--gray-600);
    border-bottom-color: var(--gray-600);
    border-top-color: var(--gray-400);
}

.container > img {
    display: flex;

    align-items: center;
    text-align: center;
    
}