.container {
    display: flex;
    margin-top: 1rem;
    flex: 1;
  
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.container aside {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
}

.blueMark {
    color: var(--blue);
}

.purpleMark {
    color: var(--purple);
}

.taskCount {
    display: flex;
    color: var(--gray-200);
    background-color: var(--gray-400);
    width: 1.5rem;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}